@import 'settings';
@import 'reset';
@import 'foundation';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.row {
  &.-equal-height {
    margin-top: -1.25rem;

    [class^=column], [class*=column] {
      display: flex;
      flex-direction: column;
      margin-top: 1.25rem;
    }

    &.-flex-end {
      [class^=column], [class*=column] {
        justify-content: flex-end;
      }
    }
  }
}
